<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.muicss.com/mui-latest/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/styles.css" rel="stylesheet" type="text/css" />

    <script src="https://cdn.muicss.com/mui-latest/js/mui.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/scripts/scripts.js"></script>
    <title>HBs Pharmacy by Mansur</title>
  </head>
  <body>

    <div id="sidedrawer" class="mui--no-user-select">
      <div id="sidedrawer-brand" class="mui--appbar-line-height">
        <a class="mui--text-title" style="text-decoration: none" href="/drugs">
          HBs Pharm
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#ffd500" class="bi bi-moon-stars" viewBox="0 0 16 16">
            <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"></path>
            <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
          </svg>
        </a>
      </div>
      <div class="mui-divider"></div>
      <ul>
        <li>
          <strong>Категории</strong>
          <ul>
            <li><a href="/categories/610fb0a25c8cab1f001d25e3/drugs">Ухо, горло, нос</a></li>
            <li><a href="/categories/610fb01a5c8cab1f001d25dd/drugs">Зрение</a></li>
            <li><a href="/categories/611059bcf61317cae37707b5/drugs">Обезболивающее</a></li>
            <li><a href="/categories/610fb05b5c8cab1f001d25df/drugs">Витамины и добавки</a></li>
            <li><a href="/categories/610fb0745c8cab1f001d25e1/drugs">Базовый уход</a></li>
          </ul>
        </li>
        <li>
          <strong>Профиль</strong>
          <ul>
            <li><a href="/auth/sign-up">Зарегистрироваться</a></li>
            <li><a href="/auth/sign-in">Войти</a></li>
            <li><a href="#">Мой профиль</a></li>
          </ul>
        </li>
<!--        <li>-->
<!--          <strong>Моя корзина</strong>-->
<!--          <ul>-->
<!--            <li><a href="#">Item 1</a></li>-->
<!--            <li><a href="#">Item 2</a></li>-->
<!--            <li><a href="#">Item 3</a></li>-->
<!--          </ul>-->
<!--        </li>-->
      </ul>
    </div>
    <header id="header">
      <div class="mui-appbar mui--appbar-line-height">
        <div class="mui-container-fluid">
          <a
            class="sidedrawer-toggle mui--visible-xs-inline-block mui--visible-sm-inline-block js-show-sidedrawer"
          >☰</a>
          <a
            class="sidedrawer-toggle mui--hidden-xs mui--hidden-sm js-hide-sidedrawer"
          >☰</a>
          <span
            class="mui--text-title mui--visible-xs-inline-block"
          >Brand.io</span>
        </div>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="mui--appbar-height"></div>
      {{{body}}}
    </div>
    <!--
  <div class="mui-container-fluid">
    <br>
    <h1>Brand.io</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sollicitudin volutpat molestie. Nullam id tempor nulla. Aenean sit amet urna et elit pharetra consequat. Aliquam fringilla tortor vitae lectus tempor, tempor bibendum nunc elementum. Etiam ultrices tristique diam, vitae sodales metus bibendum id. Suspendisse blandit ligula eu fringilla pretium. Mauris dictum gravida tortor eu lacinia. Donec purus purus, ornare sit amet consectetur sed, dictum sit amet ex. Vivamus sit amet imperdiet tellus. Quisque ultrices risus a massa laoreet, vitae tempus sem congue. Maecenas nec eros ut lectus vehicula rutrum. Donec consequat tincidunt arcu non faucibus. Duis elementum, ante venenatis lacinia cursus, turpis massa congue magna, sed dapibus felis nibh sed tellus. Nam consectetur non nibh vitae sodales. Pellentesque malesuada dolor nec mi volutpat, eget vehicula eros ultrices.</p>
    <p>Aenean vehicula tortor a tellus porttitor, id elementum est tincidunt. Etiam varius odio tortor. Praesent vel pulvinar sapien. Praesent ac sodales sem. Phasellus id ultrices massa. Sed id erat sit amet magna accumsan vulputate eu at quam. Etiam feugiat semper imperdiet. Sed a sem vitae massa condimentum vestibulum. In vehicula, quam vel aliquet aliquam, enim elit placerat libero, at pretium nisi lorem in ex. Vestibulum lorem augue, semper a efficitur in, dictum vitae libero. Donec velit est, sollicitudin a volutpat quis, iaculis sit amet metus. Nulla at ante nec dolor euismod mattis cursus eu nisl.</p>
    <p>Quisque interdum facilisis consectetur. Nam eu purus purus. Curabitur in ligula quam. Nam euismod ligula eu tellus pellentesque laoreet. Aliquam erat volutpat. Curabitur eu bibendum velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc efficitur lorem sit amet quam porta pharetra. Cras ultricies pellentesque eros sit amet semper.</p>
  </div>
-->
    <footer id="footer">
      <div class="mui-container-fluid">
        <br />
        Made with myself by
        <a href="https://www.github.com/TheZiggie">Mansur Il</a>
      </div>
    </footer>
  </body>

</html>

<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
 -->