<div>
  <h3>Имя: {{data.name}}</h3>
  <h4>Баланс: {{data.balance}} руб. <a methods="post" href="#">Пополнить баланс</a></h4>
  <h2>Корзина: </h2>
  <ul>
    <li>
      <img src="#">Пенталгин
      <span style="display: block">Кол-во: - 2 +</span>
      <span style="display: block">Цена за шт. 344 руб.</span>
    </li>
    <li>
      <img src="#">Таблетоид
      <spgan style="display: block">Кол-во: - 2 +</spgan>
      <span style="display: block">Цена за шт. 941 руб.</span>
    </li>
  </ul>
  <h3>Итого к оплате: 999$</h3>
  <h3><a href="#">Оплатить</a>
    <a href="#">Очистить корзину</a></h3>
</div>
