<form method="post" name="logForm" onsubmit="onLogin()" action="sign-in">
  <label>Имя</label>
  <input type="text" name="username">
  <label>Пароль</label>
  <input type="password" name="password">
  <input type="submit" name="submit" value="Login" >
</form>

<!--
<form method="post" name="logForm" onsubmit="onLogin()" action="login">
  <label>Nickname</label>
  <input type="text" name="username">
  <label>Сумма</label>
  <input type="password" name="count">
  <input type="submit" name="submit" value="Login" >
</form>
-->
