<form method="post" name="regForm" onsubmit="onSignUp()" action="sign-up">
  <label>Имя</label>
  <input type="text" name="name" placeholder="Придумайте имя">
  <label>Пароль</label>
  <input type="password" name="password">
  <input type="submit" name="submit" value="SingUp">
</form>