<form method="post" name="logForm" onsubmit="onLogin()" action="sign-up">
  <label>Логин</label>
  <input type="text" name="username" placeholder="Придумайте имя">
  <label>Пароль</label>
  <input type="password" name="password">
  <input type="submit" name="submit" value="Login" placeholder="Пароль > 4 && < 10">
</form>